#app[role='main'] {
    .mapboxgl-popup {
        display: flex;
        overflow: hidden;

        .mapboxgl-popup-content {
            display: flex;
            overflow: hidden;
            flex-direction: column;
            flex-grow: 0;
            flex-shrink: 0;

            max-height: 500px;
            padding: 0 0 .75rem 0;
            
            //"x"
            .mapboxgl-popup-close-button {
                display: flex;
                align-items: center;

                color: $white;
            }

            //popup container
            .marker-popup {
                display: flex;
                overflow: hidden;
                flex-direction: column;

                .marker-popup-title-header {
                    margin-bottom: .5rem;

                    background-color: $navy;
                     //feed name header 
                    p {
                        margin: 0;
                        padding: 0 0 4px 8px ;

                        color: $white;
                    }
                }

                .marker-popup-header {
                    box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.0625);

                    //header
                    h2 {
                        display: flex; display: block;
                        overflow: hidden;
                        flex-grow: 0;
                        flex-shrink: 0;

                        padding: 0 .5rem 0 .5rem;

                        white-space: nowrap;
                       text-overflow: ellipsis;  font-size: 1.25rem;

                        }

                    //status 
                    p {
                        margin: 0;    padding: 0 8px 4px 8px;

                        font-weight: bold;

                        .icon-wrapper {
                            margin-right: .5rem;
                        }
                        }
                }

                .popupContent {
                    display: flex;
                    overflow-x: hidden;
                    overflow-y: auto;
                    flex-grow: 1;
                    flex-shrink: 1;

                    padding: 0 .5rem ;

                    a {
                       padding: 4px 0;    color: $bright-blue;box-shadow: none;

                       text-decoration-line: underline;

                       &:hover {
                           background: none;
                       }
                       }

                    //content
                    ul {
                        display: flex;
                        flex-direction: column;
                        flex-grow: 1;
                        flex-shrink: 1;

                        height: auto;
                        margin-top: 0;
                        padding: 0 .25rem;
                        
                        
                        li {
                            display: flex;
                            flex-direction: column;

                            padding: .5rem 0;

                            border-bottom: .5px dotted $navy;

                            line-height: 1.2;

                            span {
                                margin-right: .5rem;
                                margin-bottom: .25rem;

                                font-weight: bold;
                            }

                            &:last-of-type {
                                border-bottom-width: 0;
                            }
                            
                        }
                    }
                }

                h4 {
                    display: flex;
                    overflow: hidden;
                    flex-grow: 0;
                    flex-shrink: 0;

                    padding: .5rem .5rem 0;

                    box-shadow: 0px -3px 4px 0px rgba(0,0,0,0.0625);

                    font-size: 1rem;
                }
            }
        }  
    }
}