//feed notifications 

.feed-notification {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;

    width: 100%;

    .new-feed-notification {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-shrink: 1;  margin: 0 0 1rem 0;

        color: $white;
        border-radius: 6px;
        background-color: $red;

        size: 14px;

        .notification-bar {
            display: flex;
            justify-content: space-between;

            padding: 4px 16px;

            .notification-content {
                font-size: 14px;

                header {
                    font-size: 10px;
                }

                .feedname {
                    display: flex;
                    overflow: hidden;
                    flex-grow: 1;
                    flex-shrink: 1;
                    flex-wrap: wrap;

                    text-transform: capitalize;

                    font-weight: bold;
                    
                }
            }

            button {
                padding: 0;

                border: none;
                background-color: transparent;
                box-shadow: none;

                :hover {
                    cursor: pointer;

                    color: $navy;
                }
            }
            }
    }
}