.modal {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  background-color: rgba($black, .8);

  form {
    display: flex;
    overflow: hidden;
    flex-direction: column;

    width: 80%;
    padding: 1rem;
  }
}
