#view .feed-popOut {
    position: absolute;
    z-index: 15;

    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    flex-direction: column;

    width: auto;
    max-width: calc(100vw - 20rem);
    max-height: 80vh;

    resize: both;

    border-radius: 6px;
    background-color: white;
    box-shadow: 0px 1px 4px 0px rgba($black, .25);
  
    header {
      display: flex;
      align-items: center;

      width: 100%;
      height: 1.5rem;
      padding: 0 .25rem 0 .5rem;

      transition: all .2s ease-out;

      background: $white;
  
      &:hover {
        background: mix($white, $navy, 97%);
  
        span {
          background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAQUlEQVQYV2NkgILXr1//FxUVZYTxQTScA5J8+PAhg4mJCVyMESQIU40hCZI4c+YMWAGyLhRjke2CsVEcgK4AryQA3tsWCM9oX6IAAAAASUVORK5CYII=) repeat;
        }
      }
  
      span {
        display: flex;
        align-items: center;
        flex-grow: 1;
        flex-shrink: 1;

        height: .75rem;
        margin: .25rem .75rem .25rem 1.5rem;

        cursor: move;

        color: mix($white, $navy, 75%);
        background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAS0lEQVQYV2NkgILXr1//FxUVZYTxQTScA5J8/fo1g5aWFlyMESQIU/3y5UsGHR0dhCRI4tq1a////fuHIoFiLLJdMDaKA9AV4JUEAB6pGQg6FVP6AAAAAElFTkSuQmCC) repeat;
  
        &:active {
          cursor: grab;
        }
      }
  
      button.iconBtn.closeBtn {
        position: relative;
        top: auto;
        right: auto;

        width: 1.25rem;
        height: 1.25rem;

        font-size: 1rem;
      }
    }
  
    .content {
      display: flex;
      overflow-x: hidden;
      overflow-y: auto;

      .eyeball-wrapper {
        width: 1.75rem;
        padding: .25rem;

        cursor: pointer;
        transition: all .2s ease-out;

        color: mix($white, $navy, 25%);

        font-size: 1.25rem;
  
        &:hover {
          color: $navy;
        }
      }
      .table-wrapper {
        position: relative;

        overflow: auto;

        width: 100%;
  
        table {
          position: relative;

          width: 100%;

          border-collapse: collapse;
  
          tr {
            background-color: mix($white, $navy, 91);
  
            &:nth-of-type(odd) {
              background-color: mix($white, $navy, 95);
            }
  
            td,
            th {
              padding: 0.25rem .375rem;

              text-align: right;
              white-space: nowrap;

              color: $navy;

              font-weight: normal;
            }
          }
  
          
  
          thead {
            tr {
              
              th {
                position: sticky;
                z-index: 10;
                top: 0;

                color: $navy;
                border-collapse: collapse;
                background: $white;

                font-size: .875rem;
  
                &:first-child {
                  z-index: 1;
                  z-index: 15;
                  left: 0;

                  cursor: help;
                  text-align: left;

                  border-right: 1px dotted rgba($navy, .2);
                  background: $white;
                  box-shadow: 2px 0px 1px 0px rgba($black, .125);

                  font-size: 1.125rem;

                  span {
                      border-bottom: 1px dotted $green;
                  }
                }
              }
            }
          }
  
          tbody {
            tr {
              th {
                position: sticky;
                z-index: 1;
                left: 0;

                display: flex;
                overflow: hidden;
                align-items: center;

                max-width: 16rem;
                margin: 0;

                color: $navy;
                border-right: 1px dotted rgba($navy, .2);
                background-color: mix($white, $navy, 91);
                box-shadow: 2px 0px 1px 0px rgba($black, .125);;

                .eyeball-wrapper {
                  margin-right: .25rem;

                  font-size: 1rem;
                }
                .icon-wrapper {
                  width: 1rem;
                  margin-right: .25rem;
                }
                .status-name {
                  display: inline-block;
                  overflow: hidden;
                  flex-grow: 1;
                  flex-shrink: 1;

                  text-align: left;
                  white-space: nowrap;
                  text-overflow: ellipsis;
                }
              }
              &:nth-of-type(odd) {
                th {
                  background-color: mix($white, $navy, 95);
                }
              }
              &.total-count {
                background-color: $white;
                th {
                  text-align: right;

                  background-color: $white;

                  font-size: .875rem;
                }
              }
            }
          }
        }
      }  
    }
  }