//input
//----------------------------------------------------------
input {
  overflow: hidden;

  width: 100%;
  height: 2.25rem;
  margin: 0;
  padding: 6px;

  white-space: nowrap;
  text-overflow: ellipsis;

  color: #111;
  border: 0;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.375);

  &:disabled {
    background: transparent;
    box-shadow: 0 0 0 0 rgba(0,0,0,0);
  }

  &[type='file'] {
   background: transparent;
   box-shadow: 0 0 0 0 rgba(0,0,0,0);

   &#feed {
     display: none;
   }
  }
}
select {
  flex-grow: 1;
  flex-shrink: 1;

  width: 100%;
  height: 2rem;

  color: $navy;
  border: none;
  background: $white;
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.375);

  font-size: 14px;
  font-weight: 500;
  
  
  option {
  }
  
}
.input-icon-wrapper {
  position: relative;

  display: flex;
  align-items: center;
  input {
    padding-right: 1.5rem;
  }
  svg {
    position: absolute;
    right: .375rem;

    color: mix($white, $base-gray, 30%);

    font-size: .75rem;
  }
}
label {
  margin-bottom: .25rem;

  text-transform: uppercase;

  color: $navy;

  font-size: .75rem;
  font-weight: bold;
  line-height: 1;
}