//input
//----------------------------------------------------------
input {
  overflow: hidden;

  width: 100%;
  height: 2.25rem;
  margin: 0;
  padding: 8px 12px;

  white-space: nowrap;
  text-overflow: ellipsis;

  color: #111;
  border: 0;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.375);

  font-size: .875rem;

  &::placeholder {
    color: rgba(0,0,0,.4);

    size: 14px;
    
  }

  &:disabled {
   color: rgba(0,0,0,.4);
    background: rgba(255,255,255, .1);
    box-shadow: inset 0 0 6px .5px rgba(0,0,0,.25);
  }

  &[type='file'] {
   background: transparent;
   box-shadow: 0 0 0 0 rgba(0,0,0,0);

   &#feed {
     display: none;
   }
  }

  &.withBtn {
    z-index: 2;

    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  &[type='checkbox'] {
    width: 1rem;
    height: 1rem;

    background: transparent;
    box-shadow: 0 0 0 0 rgba(0,0,0,0);
  }
}
textarea {
  flex-grow: 1;
  flex-shrink: 1;

  width: 100%;
  margin: 0;
  padding: 6px;

  color: #111;
  border: 0;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.375);

  font-family: 'Lato';
  font-size: .875em;
}
select {
  flex-grow: 1;
  flex-shrink: 1;

  width: 100%;
  height: 2rem;

  color: $navy;
  border: none;
  background: $white;
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.375);

  font-size: .875rem;
  font-weight: normal;
}
.input-icon-wrapper {
  position: relative;

  display: flex;
  align-items: center;
  input {
    padding-right: 1.5rem;
  }
  svg {
    position: absolute;
    right: .375rem;

    color: mix($white, $base-gray, 30%);

    font-size: .75rem;
  }
}
label, .label {
  width: 100%;
  margin-bottom: .25rem;

  text-transform: uppercase;

  color: $navy;

  font-size: .75rem;
  font-weight: bold;
  line-height: 1;
}