//structure

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  
  #app {
    display: block;

    width: 100vw;
    height: 100vh;

    #map-canvas {
      position: relative;
      z-index: 1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      width: 100vw;
      height: 100vh;
      
      #map {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }

    #library, #view {
      display: flex;
      flex-direction: column;

      transition: all .3s ease-out;
      .scroll {
        display: flex;
        overflow-x: hidden;
        overflow-y: auto;
        flex-direction: column;
        flex-grow: 1;
        flex-shrink: 1;

        transition: all .2s ease-out;
      }
      
      .panel-content {
        display: flex;
        overflow: hidden;
        flex-direction: column;
        flex-grow: 1;
        flex-shrink: 1;
        .section {
          overflow: hidden;
          flex-grow: 1;
          flex-shrink: 1;

          transition: all .2s ease-out;

          border-bottom: $white .5rem solid;

          &:last-of-type {
            border-bottom-width: 0;
          }
          
          > header {
            display: flex;
            align-items: center;
            flex-grow: 0;
            flex-shrink: 0;
            justify-content: space-between;

            height: 3rem;
            padding: 0 1rem;

            h1, h2, h3, h4 {
              flex-grow: 0;
              flex-shrink: 0;

              margin: .5rem 0;
            }
            button {
              padding: .375rem .75rem;

              font-size: .75rem;

              &.paneToggle {
                flex-grow: 0;
                flex-shrink: 0;

                padding: 0;

                border-width: 0;
                background: transparent;

                font-size: 1.25rem;

                &.closed {
                  transform: rotate(-90deg);
                }
              }
            }
          }

          &.logo {
            display: flex;
            align-items: center;
            flex-direction: column;
            flex-grow: 0;
            flex-shrink: 0;
            justify-content: center;

            height: 4.5rem;
            padding: .75rem;
          }

          &.search {
            display: flex;
            align-items: center;
            flex-grow: 0;
            flex-shrink: 0;
            justify-content: center;

            height: 4.5rem;
            padding: 0 .5rem;
            .icon {
              display: flex;
              align-self: flex-end;

              width: 1.75rem;
              margin: 0 8px 4px 0;
  
              svg {
                display: block;

                width: 100%;
                padding: 6px 0;
              }
            }
            .search-wrapper {
              display: flex;
              flex-direction: column;
              flex-grow: 1;
              flex-shrink: 1;
  
              .searchBar {
                display: flex;
                flex-direction: row;
                flex-grow: 1;
                flex-shrink: 1;
                justify-content: space-between;
  
                .input-icon-wrapper {
                  display: flex;
                  flex-grow: 1;
                  flex-shrink: 1;
                  
                  input {
                    height: 1.75rem;
                    padding: 4px 24px 4px 8px;

                    font-size: .875rem;
                  }
                  .fa-filter {
                      color: $navy;
                  }
                }
              }
            }
          }

          &.feeds {
            max-height: calc((100vh - 11rem));
          }

          &.shapes {
            max-height: calc((100vh - 11rem));
          }

          &.feeds, &.shapes {
            display: flex;
            overflow: hidden;
            flex-direction: column;
            flex-grow: 0;
            flex-shrink: 1;

            .pane {
              display: flex;
              overflow: hidden;
              flex-direction: column;

              .panel-list {
                display: flex;
                align-items: flex-start;
                flex-direction: column;

                padding: 1rem .75rem .5rem;

                border-top: 1px solid rgba($navy, .2);
                background: rgba($navy, .05);
              }
            }
          }

          &.view {
            display: flex;
            overflow: hidden;
            flex-direction: column;
            .scroll {
              border-top: 1px solid rgba($navy, .2);
              background: rgba($navy, .05);

              label {
                padding: .5rem .75rem;

                border-top: 1px solid rgba($navy, .2);

                &:first-of-type {
                  border-top-width: 0;
                }
              }

              .panel-list {
                flex-grow: 1;
                flex-shrink: 1;

                min-height: min-content;
                padding: .25rem .5rem 0;
              }
            }
          }
        }
      }
    }
  }
}

#library {
  &.closed {
    ~#view {
      &.open {
          ~#map-canvas {
              .mapboxgl-ctrl-bottom-left  {
                  left: 18rem !important;
              }
          }
      }
    }
  }
}
#library {
  &.open {
    ~#view {
      &.open {
          ~#map-canvas {
              .mapboxgl-ctrl-bottom-left  {
                  left: 36rem !important;
              }
          }
      }
    }
  }
}
#library {
  &.open {
    ~#view {
      &.closed {
          ~#map-canvas {
              .mapboxgl-ctrl-bottom-left  {
                  left: 18rem !important;
              }
          }
      }
    }
  }
}
.mapboxgl-ctrl-bottom-left {
    transition: all .3s ease-out;
}

.panel {
  .section { 

    .pane {
        overflow: hidden;

        transition: all .2s ease-out;
    }

    &.feeds {
      .pane {
        
        &.open {
          flex-grow: 1;
          flex-shrink: 1;
          //set height to 70% of space - should add up to 100 for all panels
          //min-height: calc((100vh - 156px) * .7);
          //max-height: calc((100vh - 156px) * .7);
        }
        &.closed {
          flex-grow: 0;
          flex-shrink: 0;

          height: 0;
          min-height: 0;
        }
      }
    }
    &.shapes {
      .pane {
        
        &.open {
          flex-grow: 1;
          flex-shrink: 1;
          //set height to 30% of space - should add up to 100 for all panels
          //min-height: calc((100vh - 148px) * .3);
          //max-height: calc((100vh - 148px) * .3);
        }
        &.closed {
          flex-grow: 0;
          flex-shrink: 0;

          height: 0;
          min-height: 0;
        }
      }
    }
  }
}
.overlay-name {
  cursor: help;
  white-space: nowrap;
  text-overflow: ellipsis;

  border-bottom: 1px $green dotted;
}
.__react_component_tooltip.show {
  padding: 8px 12px;

  opacity: 1 !important;
  box-shadow: 0px 1px 4px 0px rgba($black, .2);

  h5 {
    margin: 0 0 .25rem;

    font-size: 1rem;
  }
  dl {
    display: flex;

    margin: 0;

    span {
      margin-right: 8px;
      &:last-of-type {
        margin-right: 0;
      }
      dt {
        text-transform: uppercase;

        font-size: .5rem;
        font-weight: bold;
      }
      dd {
        margin: 0;

        font-size: .75rem;
      }
    }
  }
}