//structure
html {
  
    body {
      width: 100vw;
      height: 100vh;
      margin: 0;
      padding: 0;
      
  
      #app {
        display: block;

        width: 100vw;
        height: 100vh;
  
        
        #map-canvas {
          position: relative;
          z-index: 1;

          width: 100vw;
          height: 100vh;
          
          #map {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
          }
        }
  
        #library, #view {
          display: flex;
          flex-direction: column;

          transition: all .3s ease-out;
  
          .scroll {
            display: flex;
            overflow-x: hidden;
            overflow-y: auto;
            flex-direction: column;
            flex-grow: 1;
            flex-shrink: 1;

            transition: all .2s ease-out;
          }
  
          .section {
            flex-grow: 0;
            flex-shrink: 0;

            padding: .5rem 1rem;

            transition: all .2s ease-out;

            border-bottom: $white .5rem solid;
  
            &:last-of-type {
              border-bottom-width: 0;
            }
            &.search {
              display: flex;
              flex-direction: column;
              justify-content: center;

              height: 4.25;
  
              input {
                height: 1.75rem;
                padding: 4px 24px 4px 8px;

                box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.375);

                font-size: .875rem;
              }
            }
            &.logo {
              display: flex;
              align-items: center;
              flex-direction: column;
              justify-content: center;

              height: 3.25rem;
            }
          }
        }
      }
    }
  }

  #library {
    &.closed {
      ~#view {
        &.open {
            ~#map-canvas {
                .mapboxgl-ctrl-bottom-left  {
                    left: 16rem !important;
                }
            }
        }
      }
    }
  }
  #library {
    &.open {
      ~#view {
        &.open {
            ~#map-canvas {
                .mapboxgl-ctrl-bottom-left  {
                    left: 34rem !important;
                }
            }
        }
      }
    }
  }
  #library {
    &.open {
      ~#view {
        &.closed {
            ~#map-canvas {
                .mapboxgl-ctrl-bottom-left  {
                    left: 18rem !important;
                }
            }
        }
      }
    }
  }
.mapboxgl-ctrl-bottom-left {
    transition: all .3s ease-out;
}