/*IMPORT ALL SCSS PARTIALS*/

//00_global_fonts
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700|Oswald:700&display=swap');

//00_global
@import '00_global/globalColors';
@import '00_global/globalFonts';
@import '00_global/globalGlobal';

//01_settings 

//02_generic 
//@import '02_generic/genericReset';

//03_layout
@import '03_layout/layoutStructure';

//04_elements 

//05_pages 
@import '05_pages/pagesLandingpage';

//06_components 
@import '06_components/componentsButtons';
@import '06_components/componentsInputs';
@import '06_components/componentsModals';
@import '06_components/componentsPanels';

//07_theme 

//08_overwrites

//----------------------------

//landing page styling 

#app[role='main'] {
    display: flex;
    .landingPage {
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-grow: 1;
        flex-shrink: 0;
        justify-content: center;

        background-image: url('../img/atlas_BG.jpg');
       div {
        display: flex;
        align-items: center;
        flex-direction: column;

        padding:32px 64px 32px;

        border-radius: 8px;
        background: rgba(white, .9);

            .fa-atlas {
               color: $navy;

               font-size: 32px;
            }
            h3 {
                margin: 24px;
                margin-top: 0;

                font-size: 48px;
            }
            p {
                width: 50%;
                margin-top: 0;

                font-size: 16px;
                a {
                    align-self: center;
                    flex-grow: 1;
                    flex-shrink: 1;
                    justify-content: center;

                    padding: 16px;

                    color: $white;
                    background: $navy;

                    font-size: 20px;
                    font-weight: bold;
                }
            }
            
       } 
    }

    .panel {
        &.open {
            .scroll {
                .section {
                    &.view {

                        
                    }

                    &.feeds {
                     .panel-list {
                        li {
                            .feed-detail-wrapper {
                                dl {
                                    .date { 
                                        display: flex;
                                        flex-direction: column;
                                        flex-grow: 1;
                                        flex-shrink: 1;
                                        dt {
                                            padding-bottom: 4px;

                                            font-size: 12px;
                                        }
                                        dd {
                                            font-size: 12px;
                                        }
                                        
                                    }
                                }
                            }
                        }
                     }   
                    }
                }

            }
            .section {
                //search bar 
                &.search {
                    display: flex;

                    .searchBar {
                        display: flex;
                        flex-direction: row;
                        flex-grow: 1;
                        flex-shrink: 1;
                        justify-content: space-between;

                        .input-icon-wrapper {
                            display: flex;
                            flex-grow: 1;
                            flex-shrink: 1;
    
                            #search {
                                padding: 4px 8px 4px 8px;
                                box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.375);
                                font-size: 16px;
    
                            } 

                            .fa-filter {
                                color: $navy;
                            }
                        }
                    }
                }
                
                //feeds 
                &.feeds {
                    button {
                        margin: 16px;
                        border-radius: 6px;
                        color: white;
                        background: $green;

                        font-size: 16px;
                        font-weight: bold;
                        display: flex;
                        padding: 8px 24px
                    }
                    .panel-list {
                        li {
                            .feed-detail-wrapper {
                                &.wrapper {
                                    .menu-btn {
                                        background: none;
                                        color: $navy;
                                        margin: 0;
                                        padding: 0;
                                    }
                                }
                                dl {
                                    .date { 
                                        display: flex;
                                        flex-direction: column;
                                        flex-grow: 1;
                                        flex-shrink: 1;
                                        dt {
                                            padding-bottom: 4px;

                                            font-size: 12px;
                                        }
                                        dd {
                                            font-size: 12px;
                                        }
                                        
                                    }
                                }
                            }
                        }
                     }  
                }
                //logo
                &.logo {
                    margin: 0px 8px 0px 8px;
                }
            }
        }
    }
}