/*IMPORT ALL SCSS PARTIALS*/

//00_global_fonts
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700|Oswald:700&display=swap');

//00_global
@import '00_global/globalColors';
@import '00_global/globalFonts';
@import '00_global/globalGlobal';
@import '00_global/globalSettings';

//01_settings 

//02_generic 
//@import '02_generic/genericReset';

//03_layout
@import '03_layout/layoutStructure';

//04_elements 

//05_pages 
@import '05_pages/pagesLandingpage';

//06_components 
@import '06_components/componentsButtons';
@import '06_components/componentsInputs';
@import '06_components/componentsModals';
@import '06_components/componentsPanels';
@import '06_components/componentsMapboxControls';
//07_theme 

//08_overwrites

//----------------------------

.fade-in {
  animation: fadeIn ease 10s;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.feed-popOut {
  position: absolute;
  z-index: 1;
  left: 50%;

  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
  flex-direction: column;

  width: auto;

  resize: both;

  border-radius: 6px;
  background-color: white;

  header {
    display: flex;
    justify-content: center;

    width: 100%;
    height: 1.75rem;
    padding-right: 1rem;

    //background: mix($white, $navy, 90%);

    span {
      color: mix($white, $navy, 70%);
    }

    button.iconBtn.closeBtn {
      top: .125rem;
      right: .25rem;
    }
  }
  .content {
    display: flex;
    overflow-x: auto;
    overflow-y: auto;

    padding: .25rem;
    .eyeball-wrapper {
      margin-right: .25rem;

      font-size: 1.25rem;
    }
    table {
      width: 100%;

      border-collapse: collapse;

      .toggle {
        width: 2rem;
      }

      tr {
        background: mix($white, $navy, 95%);
        th {
          text-align: left;

          font-size: .75rem;
          h5 {
            margin: 0;

            font-size: 1rem;;
          }
        }
        td, th {
          padding: .25rem;

          vertical-align: middle;
          white-space: nowrap;

          border: 0px solid $black;
        }
      }
    }
  }
}