
//app fonts
//----------------------------------------------------------
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700|Oswald:700&display=swap');
//font-family: 'Lato', sans-serif;
//font-weight: 400 or 900;
//font-style: italic;
//font-family: 'Oswald', sans-serif;
//font-weight: 900;
//----------------------------------------------------------
//app color palette
$white: rgba(256, 256, 256, 1);
$navy: rgba(34, 29, 64, 1);
$gray: rgb(220, 220, 220);
$green: rgba(139, 197, 63, 1);
$red: rgba(255, 55, 67, 1);
$orange: rgba(242, 143, 32, 1);
$blue-gray: mix($navy, $white, 8%);
$black: rgba(0, 0, 0, 1);
$navy-hover: mix(rgb(74, 63, 141), $navy, 75%);
$green-hover: mix(rgb(206, 200, 108), $green, 40%);
$base-gray: rgba(51, 51, 51, 1);
//----------------------------------------------------------
//border-box sizing reset
*, *::after, *::before {
  box-sizing: border-box;
}
//----------------------------------------------------------
//logo
#logo {
  display: block;

  width: 100%;
}
.orange {
  fill: $orange;
}
.green {
  fill: $green;
}
.navy {
  fill: $navy;
}
.red {
  fill:$red;
}
//----------------------------------------------------------
//fontography
html {
  color: $base-gray;

  font-family: 'Lato', sans-serif;
  font-size: 16px;
  body {
    color: $base-gray;

    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.4;

    h1, h2, h3, h4 {
      margin: 0;

      color: $navy;

      font-family: 'Oswald', sans-serif;
      font-weight: 900;
    }

    h2 {
      font-size: 2.5rem
    }
    h3 {
      font-size: 2rem
    }
    h4 {
      font-size: 1.25rem
    }
    h5 {
      font-size: 1.125rem
    }
  }
}
//----------------------------------------------------------
//structure
html {
  
  body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;

    background: $white;

    #app {
      display: block;

      width: 100vw;
      height: 100vh;

      
      #map-canvas {
        position: relative;
        z-index: 1;

        width: 100vw;
        height: 100vh;
        
        #map {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
        }
      }

      #library, #view {
        display: flex;
        flex-direction: column;

        transition: all .3s ease-out;

        .scroll {
          display: flex;
          overflow-x: hidden;
          overflow-y: auto;
          flex-direction: column;
          flex-grow: 1;
          flex-shrink: 1;

          transition: all .2s ease-out;
        }

        .section {
          flex-grow: 0;
          flex-shrink: 0;

          padding: .5rem 1rem;

          transition: all .2s ease-out;

          border-bottom: $white .5rem solid;

          &:last-of-type {
            border-bottom-width: 0;
          }
          &.search {
            display: flex;
            flex-direction: column;
            justify-content: center;

            height: 5.25rem;

            input {
              height: 1.75rem;
            }
          }
          &.logo {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;

            height: 5.25rem;
          }
        }
      }
    }
  }
}
//panel styles
//----------------------------------------------------------
#library, #view {
  position: fixed;

  background-color: rgba($blue-gray, .93);
  box-shadow: 0px 0px 8px 0px rgba($black, .25);

  label {
    margin-bottom: .25rem;

    text-transform: uppercase;

    font-size: .75rem;
  }

  header {
    h2, h3, h4, h5 {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      margin: .5rem 0;

      text-transform: uppercase ;

      line-height: 1;

      svg {
        font-size: 1.25rem;
      }
    }
  }
}

#library {
  z-index: 3;
  top: 0;
  left: 0;

  width: 16rem;
  height: 100vh;

  border-right: 2px solid $green;

  &.open {
    left: 0;
  }
  &.closed {
    left: -16rem;
  }
}
#view {
  z-index: 2;
  top: 0;
  left: 16rem;

  width: 14rem;
  height: 100vh;

  border-right: 2px solid $navy;

  &.open {
    left: 16rem;
  }
  &.closed {
    left: -14rem;
  }
}
#library {
  &.closed {
    ~#view {
      &.open {
        left: 0;
      }
    }
  }
}
#library {
  &.open {
    ~#view {
      &.closed {
        left: 2rem;

        .section {
          opacity: 0;
        }
      }
    }
  }
}

.panel-tab {
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;

  border-radius: 0 .25rem .25rem 0;
  box-shadow: 2px 0px 4px 0px rgba($black, .25);
  
  &:before {
    position: absolute;
    left: 0;

    display: block;

    width: .25rem;
    height: 4rem;

    content: '';

    border-radius: 0 .5rem .5rem 0;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 1.25rem;
    height: 2rem;
    padding: 0;

    cursor: pointer;

    color: $white;
    border: none;
    background-color: transparent;
  }


  &.library-tab {
    z-index: 11;
    top: 4rem;
    left: 16rem;

    transition: all .2s ease-out;

    background: $green;

    &:before {
      z-index: 10;

      transition: all .2s ease-out;

      background-color: $green;
    }

    &:hover {
      background-color: $green-hover;
      &:before {
        background-color: $green-hover;
      }
    }
  }
  &.view-tab {
    z-index: 10;
    top: 1.25rem;
    left: 14rem;

    transition: all .2s ease-out;

    background: $navy;

    &:before {
      z-index: 9;

      transition: all .2s ease-out;

      background-color: $navy;
    }

    &:hover {
      background-color: $navy-hover;
      &:before {
        background-color: $navy-hover;
      }
    }
  }
}
//input
//----------------------------------------------------------
input {
  overflow: hidden;

  width: 100%;
  height: 2.25rem;
  margin: 0;
  padding: 6px;

  white-space: nowrap;
  text-overflow: ellipsis;

  color: #111;
  border: 0;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.375);
}
.input-icon-wrapper {
  position: relative;

  display: flex;
  align-items: center;
  input {
    padding-right: 1.5rem;
  }
  svg {
    position: absolute;
    right: .375rem;

    color: mix($white, $base-gray, 30%);

    font-size: .75rem;
  }
}

/*
//button styles
a {
  display: flex;

  padding: 8px;

  text-decoration: none;

  color: #111;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.375);

  line-height: 1;

  &:hover {
    background: #eee;
  }
}
*/

.modal {
  position: absolute;
  z-index: 99999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  background: rgba($blue-gray, 0.75);

  &.gradient-bg {
    background: radial-gradient(
      ellipse at center,
      rgba($blue-gray, 0.75) 0%,
      rgba($blue-gray, 0.9) 100%
    );
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  }

  &.modal-alert {
    .card {
      max-width: 24rem;
    }
  }

  &.modal-sm,
  &.modal-md,
  &.modal-lg,
  &.modal-xl,
  &.modal-alert,

  &.modal-sm {
    .card {
      width: 30%;
      max-width: 26rem;
    }
  }

  &.modal-md {
    .card {
      width: 50%;
      max-width: 40rem;
    }
  }

  &.modal-lg {
    .card {
      width: 80%;
      max-width: 60rem;
    }
  }

  &.modal-xl {
    .card {
      width: 80%;
      max-width: 80rem;
    }
  }

  &.modal-lg {
    .card {
      width: 60%;
      max-width: 60rem;
    }
  }
}

.panel-list {
  margin: 0;
  padding: 0;

  list-style: none;

  li {
    
    h1, h2, h3, h4, h5, p {
      display: flex;
      align-items: center;

      width: 100%;

      line-height: 1;
      .icon {
        flex-grow: 0;
        flex-shrink: 0;

        margin-right: .25rem;

        font-size: 60%;
        &.shared {
          display: flex;
          align-items: center;

          width: 1rem;
          height: 1rem;
          padding: .25rem;

          color: $white;
          border: 1px solid $white;
          border-radius: .5rem;
          background-color: mix($base-gray, $white, 70%);
          box-shadow: 0px 0px 8px 0px rgba($black, .125);

          font-size: 50%;
        }
      }
      .file-name {
        flex-grow: 1;
        flex-shrink: 1;
      }
      .menu {
        flex-grow: 0;
        flex-shrink: 0;

        color: $base-gray;
      }
    }
    h5 {
      margin: .75rem 0 .25rem;

      font-family: 'Lato', sans-serif;
      font-size: .875rem;
      font-weight: 400;
    }
    dl {
      display: flex;

      margin: 0;

      span {
        margin-right: .5rem;

        &.date {
          width: 25%;
        }
        dt {
          font-size: .5rem;
          font-weight: 900;
          line-height: 1;
        }
        dd {
          margin: 0;

          font-size: .625rem;  line-height: 1;
          }
      }
    }
  }
}