
//app fonts
//----------------------------------------------------------
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700|Oswald:700&display=swap');
//font-family: 'Lato', sans-serif;
//font-weight: 400 or 900;
//font-style: italic;
//font-family: 'Oswald', sans-serif;
//font-weight: 900;
//----------------------------------------------------------
//app color palette
$white: rgba(256, 256, 256, 1);
$navy: rgba(34, 29, 64, 1);
$gray: rgb(220, 220, 220);
$green: rgba(139, 197, 63, 1);
$red: rgba(255, 55, 67, 1);
$orange: rgba(242, 143, 32, 1);
$blue-gray: mix($navy, $white, 8%);
$black: rgba(0, 0, 0, 1);
$navy-hover: mix(rgb(74, 63, 141), $navy, 75%);
$green-hover: mix(rgb(206, 200, 108), $green, 40%);
$base-gray: rgba(51, 51, 51, 1);
//----------------------------------------------------------
//border-box sizing reset
*, *::after, *::before {
  box-sizing: border-box;
}
//----------------------------------------------------------
//logo
#logo {
  display: block;

  width: 100%;
}
.orange {
  fill: $orange;
}
.green {
  fill: $green;
}
.navy {
  fill: $navy;
}
.red {
  fill:$red;
}
//----------------------------------------------------------
//fontography
html {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  color: $base-gray;
  body {
    color: $base-gray;

    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.4;

    h1, h2, h3, h4 {
      margin: 0;

      color: $navy;

      font-family: 'Oswald', sans-serif;
      font-weight: 900;
    }

    h2 {
      font-size: 2.5rem
    }
    h3 {
      font-size: 2rem
    }
    h4 {
      font-size: 1.25rem
    }
    h5 {
      font-size: 1.125rem
    }
  }
}
//----------------------------------------------------------
//structure
html {
  
  body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;

    background: $white;

    #app {
      display: block;

      width: 100vw;
      height: 100vh;

      
      #map-canvas {
        position: relative;
        z-index: 1;

        width: 100vw;
        height: 100vh;
        
        #map {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
        }
      }

      #library, #view {
        display: flex;
        flex-direction: column;

        .scroll {
          flex-grow: 1;
          flex-shrink: 1;
          display: flex;
          flex-direction: column;
          overflow-x: hidden;
          overflow-y: auto;
        }

        .section {
          border-bottom: $white .5rem solid;
          padding: .5rem 1rem;
          flex-shrink: 0;
          flex-grow: 0;

          &:last-of-type {
            border-bottom-width: 0;
          }
          &.search {
            height: 5.25rem;
            display: flex;
            flex-direction: column;
            justify-content: center;

            input {
              height: 1.75rem;
            }
          }
          &.logo {
            height: 5.25rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }
}
//panel styles
//----------------------------------------------------------
#library, #view {
  position: fixed;

  background-color: rgba($blue-gray, .93);
  box-shadow: 0px 0px 8px 0px rgba($black, .25);

  label {
    text-transform: uppercase;

    font-size: .75rem;
    margin-bottom: .25rem;
  }

  header {
    h2, h3, h4, h5 {
      text-transform: uppercase ;
      display: flex;
      line-height: 1;
      align-items: center;
      justify-content: flex-start;
      margin: .5rem 0;

      svg {
        font-size: 1.25rem;
      }
    }
  }
}

#library {
  z-index: 3;
  top: 0;
  left: 0;

  width: 16rem;
  height: 100vh;

  border-right: 2px solid $green;
  
}
#view {
  z-index: 2;
  top: 0;
  left: 16rem;

  width: 14rem;
  height: 100vh;

  border-right: 2px solid $navy;
}

.panel-tab {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 0 .25rem .25rem 0;
  box-shadow: 2px 0px 4px 0px rgba($black, .25);
  
  
  &:before {
    content: '';
    display: block;
    position: absolute;
    width: .25rem;
    height: 4rem;
    left: 0;
    border-radius: 0 .5rem .5rem 0;
  }

  button {
    padding: 0;
    border: none;
    background-color: transparent;
    color: $white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 1.25rem
  }


  &.library-tab {
    left: 16rem;
    z-index: 11;
    background: $green;
    top: 4rem;
    transition: all .2s ease-out;

    &:before {
      background-color: $green;
      z-index: 10;
      transition: all .2s ease-out;
    }

    &:hover {
      background-color: $green-hover;
      &:before {
        background-color: $green-hover;
      }
    }
  }
  &.view-tab {
    left: 30rem;
    top: 1rem;
    z-index: 10;
    background: $navy;
    transition: all .2s ease-out;

    &:before {
      background-color: $navy;
      z-index: 9;
      transition: all .2s ease-out;
    }

    &:hover {
      background-color: $navy-hover;
      &:before {
        background-color: $navy-hover;
      }
    }
  }
}
//input
//----------------------------------------------------------
input {
  width: 100%;
  border: 0;
  color: #111;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.375);
  margin: 0;
  height: 2.25rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 6px;
}
.input-icon-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  input {
    padding-right: 1.5rem;
  }
  svg {
    position: absolute;
    right: .375rem;
    font-size: .75rem;
    color: mix($white, $base-gray, 30%);
  }
}

























#map-header button {
  position: fixed;
  left: 100px;

  width: 100px;
  height: 100px;
  //position: absolute;

  border: 1px solid red;;
}
nav {

  a {
    display: flex;

    padding: 8px;

    text-decoration: none;

    color: #111;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.375);

    line-height: 1;

    &:hover {
      background: #eee;
    }
  }
}