//color palette
$white: rgba(256, 256, 256, 1);
$navy: rgba(34, 29, 64, 1);
$gray: rgb(220, 220, 220);
$green: rgba(139, 197, 63, 1);
$red: rgba(255, 55, 67, 1);
$orange: rgba(242, 143, 32, 1);
$blue-gray: mix($navy, $white, 8%);
$black: rgba(0, 0, 0, 1);
$navy-hover: mix(rgb(74, 63, 141), $navy, 75%);
$green-hover: mix(rgb(206, 200, 108), $green, 40%);
$base-gray: rgba(51, 51, 51, 1);